**.DS_Store
Fase1/Generator/build/
Fase1/ENGINE/build/
Fase1/.idea/
**.vscode
*.ipch
*.recipe
*.tlog
*.obj
*.user
*.log
*.exe
*.db
Fase2/ENGINE/build/
Fase2/ENGINE/cmake-build-debug/
Fase2/Generator/cmake-build-debug/
Fase2/Generator/build/
Fase2/.idea/
Fase3/ENGINE/build/
Fase3/Generator/build/
Fase3/.idea/
Fase3/ENGINE/build/cmake_install.cmake
Fase3/ENGINE/build/CMakeCache.txt
Fase3/ENGINE/build/CMakeFiles/cmake.check_cache
Fase3/ENGINE/build/CMakeFiles/TargetDirectories.txt
Fase4/ENGINE/build/
Fase4/Generator/build/
